<!-- A propos du club -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>A propos du club</h1>
            <p>L'Évry-Viry Centre Essonne Hockey Club, surnommé Jets d'Évry-Viry, est un club français de hockey sur
                glace situé en Essonne, dans la région de l'Île-de-France.</p>
            <p>Fondé en 2015, à la suite de la fusion des Peaux-Rouges d'Évry et des Jets de Viry-Châtillon, le club
                évolue au troisième niveau national, en division 2, pour la saison 2020-20211. L'équipe est entrainé par
                Francis Larivée.</p>
        </div>
    </div>
</div>
<!-- Historique -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Historique</h1>
            <p>L'équipe est créée à la suite de la fusion des Peaux-Rouges d'Évry et du Viry Hockey 91 en 20152,3.

                L’équipe senior s’engage alors dans le championnat de division 2 pour la saison 2015-2016. À l’issue de
                sa première saison régulière, l'équipe se classe cinquième de la poule A et se qualifie pour les séries
                éliminatoires des plays-offs avant de s'incliner en quarts de finale contre les Jokers de
                Cergy-Pontoise.

                Lors de la saison 2018-2019, le club termine premier de son groupe lors de la saison régulière avant
                d’être éliminé dès les huitièmes de finale par les Renards de Roanne, qui s'inclineront eux en
                demi-finale.4. </p>
        </div>
    </div>

<!--Logo du club centré -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="../../assets/logo.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>


